numpy==1.22.3
moviepy==1.0.3
google_auth_oauthlib==0.5.1
pytube==11.0.1
librosa==0.9.1
requests==2.26.0
google_api_python_client==2.41.0
Pillow==9.0.1
protobuf==3.19.4
mongoengine==0.23.1
dnspython==2.1.0 # for api
tqdm==4.63.0
pychalk==2.0.1
beautifulsoup4==4.10.0
setuptools==60.9.3
lxml==4.6.3 # for bs
scipy==1.7.1
bs4==0.0.1
httplib2==0.20.4
python-telegram-bot==13.11